Repository Invigio/kalkulator: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-lab3.yml, azure-pipelines.yml

azure-pipelines-lab3.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Test
    displayName: Test Stage
    jobs:
    - job: BackendTests
      displayName: Backend Unit Tests
      steps:
      - task: NodeTool@0
        displayName: Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
      - script: 'cd backend
  
  ...

azure-pipelines.yml:
  pool:
    vmImage: ubuntu-latest
  stages:
  - stage: Build
    displayName: ğŸ”¨ Build Stage
    jobs:
    - job: BuildJob
      displayName: Build and Minify
      steps:
      - task: NodeTool@0
        displayName: ğŸŸ¢ Install Node.js
        inputs:
          versionSpec: $(nodeVersion)
      - task: Cache@2
  ...

chore: czyszczenie projektu - usunięcie starych plików z Lab 1/Lab 2
  .github/workflows/azure-static-web-apps.yml
  CI-CD-SETUP.md
  COMMANDS.txt
  QUICK-START-LAB3.md
  QUICK-START.md
  README-LAB3.md
  README.md
  azure-pipelines.yml
  index.html
  script.js
  src/index.html
  src/script.js
  src/styles.scss
  staticwebapp.config.json
  styles.css
  visualization.html
Due: azure-pipelines.yml

fix: poprawiony .gitignore i dodany frontend/dist do repo
  .gitignore
  backend/src/calculator.js
  backend/src/server.js
  frontend/dist/index.html
  frontend/dist/script.min.js
  frontend/dist/styles.css
  frontend/dist/styles.min.css
  frontend/src/index.html
  frontend/src/script.js
  frontend/src/styles.scss
Due: azure-pipelines-lab3.yml

fix: testy frontendu continue-on-error (minor issues in mocks)
  .github/workflows/ci-cd.yml
Due: none

fix: poprawiony E2E workflow z continue-on-error
  .github/workflows/ci-cd.yml
Due: none

feat: Azure Functions API + frontend API URL fix
  .github/workflows/ci-cd.yml
  api/calculate/function.json
  api/calculate/index.js
  api/calculator.js
  api/health/function.json
  api/health/index.js
  api/history/function.json
  api/history/index.js
  api/host.json
  api/package.json
  frontend/dist/script.min.js
  frontend/src/script.js
Due: azure-pipelines-lab3.yml

fix: frontend theme tests and e2e lockfile
  e2e/package-lock.json
  frontend/tests/calculator.test.js
Due: azure-pipelines-lab3.yml

fix: clear expression after equals and stabilize e2e
  e2e/tests/calculator.spec.js
  frontend/dist/script.min.js
  frontend/src/script.js
Due: azure-pipelines-lab3.yml

fix: stabilize frontend localStorage mock and e2e API URL
  e2e/tests/calculator.spec.js
  frontend/tests/calculator.test.js
Due: azure-pipelines-lab3.yml

fix: remove localhost API override in frontend
  frontend/dist/index.html
  frontend/src/index.html
Due: azure-pipelines-lab3.yml

ci: add Azure Static Web Apps workflow file on-behalf-of: @Azure opensource@microsoft.com
  .github/workflows/azure-static-web-apps-lemon-sea-008af4d03.yml
Due: none

fix: use AZURE_STATIC_WEB_APPS_API_TOKEN2
  .github/workflows/ci-cd.yml
Due: none

fix: accept legacy payloads and return history array
  api/calculate/index.js
  api/history/index.js
Due: none

fix: historia a/b format + favicon
  api/calculator.js
  frontend/dist/favicon.svg
  frontend/dist/index.html
  frontend/src/favicon.svg
  frontend/src/index.html
Due: azure-pipelines-lab3.yml

style: equalize history panel height
  frontend/dist/styles.css
  frontend/dist/styles.min.css
  frontend/src/styles.scss
Due: azure-pipelines-lab3.yml

Path conditions:
  azure-pipelines-lab3.yml: any of: frontend, backend, e2e
  azure-pipelines.yml: any of: src, package.json
